<div class="container">
  <form ng-submit="login()" class="form-signin">
    <h2 class="form-signin-heading">Login</h2>
    <input ng-model="user.email" type="text" class="input-block-level" placeholder="Email">
    <input ng-model="user.password" type="password" class="input-block-level" placeholder="Password">
    <label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    <button class="btn btn-large btn-primary" type="submit">Sign in</button>
  </form>
</div> <!-- /container -->
